@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   overflow-x: hidden;
  @apply bg-gradient-to-b from-zinc-950 via-zinc-900 to-zinc-800 text-white font-sans;
}
a {
  @apply text-blue-400 hover:underline;
}
/* index.css */
.underline-hover {
  position: relative;
  display: inline-block;
}



.underline-hover::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #22d3ee;
  transition: width 0.3s;
}

.underline-hover:hover::after {
  width: 100%;
}

